.contact_fields {
  width: 300px;
  background-color: rgb(192, 224, 224);
  margin: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  div + input {
    grid-column: span 2;
  }
  #red_border {
    border: 3px solid red;
    outline: none;
  }
  .discard {
    width: 30px;
    font-size: 30px;
    display: block;
    justify-self: end;
    height: 30px;

    &:hover::after {
      content: "discard last change";
      display: block;
      width: fit-content;
      color: black;
      border: 0.5px solid black;
      font-size: 13px;
      background-color: white;
      transform: translate(-90px, -20px);
      position: absolute;
    }
  }
  a {
    width: 60px;
    text-decoration: none;
    background-color: rgba(182, 115, 115, 0.596);
    text-align: center;
    color: black;
  }
  .field {
    grid-column: span 2;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    border: blue 2px solid;
    &:hover > .delete {
      color: red;
      display: block;
      transform: translate(-33px, 10px);
      position: absolute;
      background-color: transparent;
      font-size: 30px;
    }
    &:hover > .must {
      display: block;
    }
    .must {
      color: red;
      font-size: 10px;
      transform: translate(-110px);
      position: absolute;
      display: none;
    }
    .delete {
      color: red;
      display: none;
    }
    .edit {
      display: block;
      margin: 10px;
      border: 0;
      background-color: hsla(0, 20%, 99%, 0.4);
      width: 70%;
    }
    .input {
      display: none;
    }
    input {
      box-sizing: border-box;
    }
    ion-icon {
      pointer-events: none;
    }
  }
}

button {
  border: 0;
  cursor: pointer;
}

.icon ion-icon {
  font-size: 60px;
  display: block;
}
.icon {
  margin: auto;
  width: min-content;
}

input + button {
  background-color: rgb(82, 201, 209);
  height: 40px;
  width: 40px;
  margin: auto 5px;
}

.hidden {
  display: none;
}

.add_field {
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  height: min-content;
  button {
    font-size: 30px;
    color: indianred;
    background-color: transparent;
  }
  p {
    height: 30px;
    width: 150px;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
  }
}

.new_field {
  display: none;
}
